<div
class="modal"
id={{"editshow_"+s.show_id|string}}
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">
        Edit show details of "<span style="color:blue">{{s.name}}</span>"
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form
        class="p-4 d-flex flex-column justify-content-around"
        action="addshow"
        method="POST"
      >
        <div class="mb-3">
          <label for="show_name" class="form-label">Show Name</label>
          <input
            type="text"
            class="form-control"
            id="show_name"
            name="show_name"
            value="{{s.name}}"
          />
        </div>
        <div class="mb-3">
          <label for="show_rating" class="form-label">Rating</label>
          <input
            type="text"
            class="form-control"
            id="show_rating"
            name="show_rating"
            value="{{s.rating}}"
          />
        </div>
        <div class="mb-3">
          <label for="show_timing" class="form-label">Show Start Time</label>
          <input
            type="datetime-local"
            class="form-control"
            id="start_time"
            name="start_time"
            value="{{s.start_time}}"
          />
          <label for="show_timing" class="form-label">Show End Time</label>
          <input
            type="datetime-local"
            class="form-control"
            id="end_time"
            name="end_time"
            value="{{s.end_time}}"
          />
        </div>
        <div class="mb-3">
          <label for="show_tags" class="form-label">Tags</label>
          <input
            type="text"
            class="form-control"
            id="show_tags"
            name="show_tags"
            value="{{s.tags}}"
          />
        </div>
        <div class="mb-3">
          <label for="show_price" class="form-label">Price</label>
          <input
            type="number"
            class="form-control"
            id="show_price"
            name="show_price"
            value="{{s.price}}"
          />
          
          
          <input
          type="number"
            class="form-control"
            id="venue_name"
            name="update"
            value="1"
            hidden>
          <input
          type="number"
            class="form-control"
            name="show_id"
            value="{{s.show_id}}"
            hidden>
        </div>
        
        <div class="d-flex justify-content-around">
          <button type="submit" class="btn btn-warning w-100 m-2">
            Update show details
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>