<div
            class="card mt-2 "
            style="
              background-image: url('./static/img/movie_thumb.jpg');
              background-size: contain;
              color: aliceblue;
              background-blend-mode:darken;
            "
          >
            <div class="card-body">
              <h5 class="card-title">{{s.name}}</h5>
              <p class="card-text">
                <span><b>Timing-</b>{{s.start_time}} - {{s.start_time}}</span>
                <span><b>, Price-</b>{{s.price}}</span>
                <span><b>, Tags-</b>{{s.tags}}</span>
                <span><b>, Rating-</b>{{s.rating}}</span>
              </p>
              <div class="dropdown show">
                <a
                  class="btn btn-primary dropdown-toggle d-block"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Edit
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item"  data-bs-toggle="modal"
                  data-bs-target={{"#editshow_"+s.show_id|string}} role="button">Update Show</a>
                  <a class="dropdown-item"  data-bs-toggle="modal"
                  data-bs-target={{"#deleteshow_"+s.show_id|string}} role="button">Delete Show</a>
                </div>
              </div>
            </div>
          </div>
   
{% include './forms/deleteShow.html' %}
{% include './forms/editShow.html' %}