<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/custom_validations.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"
    ></script>
    <title>Admin_dashboard</title>
  </head>
  <body>
    <div class="d-flex flex-column overflow-auto" style="height: 100vh">
      <!-- navbar -->
      <nav
        class="navbar sticky-top navbar-expand-md navbar-dark bg-primary p-2"
      >
        <div class="order-0">
          <a class="navbar-brand" href="#">{{current_user.name}}'s Dashboard</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".dual-collapse2"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-2 dual-collapse2">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Summary |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="logout.html">logout</a>
            </li>
          </ul>
        </div>
      </nav>

      <div
        class="d-flex flex-row align-items-center justify-content-evenly m-1"
        style="flex: 1 1 auto; flex-wrap: wrap"
      >
        <img
          src="./static/img/Add_logo.svg"
          height="100px"
          width="100px"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          role="button"
          class="hover-zoom"
        />

        <div
          class="d-flex flex-column align-items-center justify-content-around m-3 p-2 overflow-auto shadow-lg"
          style="
            height: 70vh;
            width: 280px;
            border: blue solid 2px;
            border-radius: 10px;
            background-color: aliceblue;
          "
        >
          <h4 style="align-self: flex-start">Venue_01</h4>
          <div class="d-flex flex-column overflow-auto h-75 mb-3">
            <div
              class="card mt-2"
              style="
                background-image: url('./static/img/movie_thumb.jpg');
                background-size: contain;
                color: aliceblue;
              "
            >
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <div class="dropdown show">
                  <a
                    class="btn btn-primary dropdown-toggle d-block"
                    href="#"
                    role="button"
                    id="dropdownMenuLink"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Actions
                  </a>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="card mt-2"
              style="
                background-image: url('./assets/img/movie_thumb.jpg');
                background-size: contain;
                color: aliceblue;
              "
            >
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <div class="dropdown show">
                  <a
                    class="btn btn-primary dropdown-toggle d-block"
                    href="#"
                    role="button"
                    id="dropdownMenuLink"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Actions
                  </a>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img
            src="./static/img/Add_logo.svg"
            height="50px"
            width="50px"
            color="blue"
          />
          <div class="d-flex justify-content-around">
            <button class="btn btn-warning w-100 m-2">Edit</button>
            <button class="btn btn-danger w-100 m-2">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal To add Venue -->
    <div
      class="modal"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Creating a new venue
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              class="p-4 d-flex flex-column justify-content-around"
              action="addVenue"
              method="POST"
            >
              <div class="mb-3">
                <label for="venue_name" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="venue_name"
                  name="venue_name"
                />
              </div>
              <div class="mb-3">
                <label for="venue_place" class="form-label">Place</label>
                <input
                  type="text"
                  class="form-control"
                  id="venue_place"
                  name="venue_place"
                />
              </div>
              <div class="mb-3">
                <label for="venue_location" class="form-label">Location</label>
                <input
                  type="text"
                  class="form-control"
                  id="venue_location"
                  name="venue_location"
                />
              </div>
              <div class="mb-3">
                <label for="venue_capacity" class="form-label">Capacity</label>
                <input
                  type="text"
                  class="form-control"
                  id="venue_capacity"
                  name="venue_capacity"
                />
              </div>
              <!-- <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                  name="password"
                />
              </div> -->
              <div class="d-flex justify-content-around">
                <button type="submit" class="btn btn-success w-100 m-2">
                  SAVE
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
