<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/custom_validations.js') }}"
    ></script>
    <title>User_dashboard</title>
  </head>
  <body>
    <div class="d-flex flex-column overflow-auto" style="height: 100vh">
      <!-- navbar -->
      <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-primary p-2">
        <div class="order-0">
          <a class="navbar-brand" href="#">{{current_user.name}}'s Dashboard</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".dual-collapse2"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-2 dual-collapse2">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bookings">bookings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="logout">logout</a>
            </li>
          </ul>
        </div>
      </nav>

{% for v in venue%}
      {% include './forms/allShows.html' %}
      {% endfor %}
    </div>
  </body>
</html>
